<form>
  <div class="form-check" *ngFor="let dataType of dataTypes">
    <input class="form-check-input" type="radio" name="dataType" id="dataType_{{dataType.name}}" value="{{dataType.name}}" [(ngModel)]="fileType" >
    <label class="form-check-label" for="dataType_{{dataType.name}}">
      {{dataType.label}}
    </label>
  </div>

  <div class="form-group">
    <label for="dataFile">Uploade CSV or JSON data File</label>
    <input type="file" class="form-control-file" name="dataFile" id="dataFile" (change)="handleFileInput($event.target.files)">
  </div>
</form>

{{fileType}}
