
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ds-Vis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
      <li class="nav-item{{ currentPage == 'fileupload' ? ' active' : '' }}">
        <a class="nav-link" href="#" (click)="showPage('fileupload')">Upload Data</a>
      </li>
      <li class="nav-item{{ currentPage == 'amazon' ? ' active' : '' }}">
        <a class="nav-link" href="#" (click)="showPage('amazon')">Amazon</a>
      </li>
      <li class="nav-item{{ currentPage == 'google' ? ' active' : '' }}">
        <a class="nav-link" href="#" (click)="showPage('google')">Google</a>
      </li>
      <li class="nav-item{{ currentPage == 'facebook' ? ' active' : '' }}">
        <a class="nav-link" href="#" (click)="showPage('facebook')">Facebook</a>
      </li>
      <li class="nav-item{{ currentPage == 'instagram' ? ' active' : '' }}">
        <a class="nav-link" href="#" (click)="showPage('instagram')">Instagram</a>
      </li>
      <li class="nav-item{{ currentPage == 'example' ? ' active' : '' }}">
        <a class="nav-link" href="#" (click)="showPage('example')">Example</a>
      </li>
    </ul>
  </div>
</nav>
<div class="border maincontent p-3">
  <app-amazon *ngIf="currentPage == 'amazon'"></app-amazon>
  <app-google *ngIf="currentPage == 'google'"></app-google>
  <app-facebook *ngIf="currentPage == 'facebook'"></app-facebook>
  <app-instagram *ngIf="currentPage == 'instagram'"></app-instagram>
  <app-example *ngIf="currentPage == 'example'"></app-example>
  <app-fileupload *ngIf="currentPage == 'fileupload'"></app-fileupload>


</div>


